@font-face {
  font-family: icomoon;
  font-weight: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("../fonts/icomoon.woff") format('woff'), url("../fonts/icomoon.ttf") format('truetype'), url("../fonts/icomoon.svg#icomoon") format('svg');
}
@font-face {
  font-family: DINBOLD;
  font-weight: normal;
  src: url("../fonts/dinbold-webfont.eot");
  src: url("../fonts/dinbold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/dinbold-webfont.woff") format('woff'), url("../fonts/dinbold-webfont.ttf") format('truetype'), url("../fonts/dinbold-webfont.svg#dinbold-webfont") format('svg');
}
@font-face {
  font-family: DINREGULAR;
  font-weight: normal;
  src: url("../fonts/pt_din_condensed_cyrillic-webfont.eot");
  src: url("../fonts/pt_din_condensed_cyrillic-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/pt_din_condensed_cyrillic-webfont.woff") format('woff'), url("../fonts/pt_din_condensed_cyrillic-webfont.ttf") format('truetype'), url("../fonts/pt_din_condensed_cyrillic-webfont.svg#pt_din_condensed_cyrillic-webfont") format('svg');
}
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
#navs {
  left: 4px;
  bottom: 4px;
  width: 200px;
  height: 200px;
  line-height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: all 0.6s;
  background-image: url("../img/tickets.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#navs > li {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: 0.6s;
  opacity: 0;
}
#navs.active > li {
  opacity: 1;
}
#navs a {
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
}
#navs>li,
#navs:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 82px;
  height: 81px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.prox-movies {
  left: 4px;
  bottom: 4px;
  width: 278px;
  height: 254px;
  line-height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: all 0.6s;
  position: relative;
}
.prox-movies li {
  position: absolute;
  z-index: 100;
  transition: all 0.6s ease;
  width: 120px;
}
.prox-movies li img {
  width: 100%;
}
.prox-movies li:hover {
  z-index: 999;
}
.prox-movies li:nth-of-type(2) {
  left: 34%;
  top: 10%;
}
.prox-movies li:last-of-type {
  left: 65%;
  top: 29%;
}
/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 16px;
  height: 100vh;
}
body {
  height: 100vh;
}
a {
  text-decoration: none;
}
ul,
p,
figure {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
h2 {
  font-family: "Oswald";
  font-size: 1.75rem;
  color: #ffea00;
  text-transform: capitalize;
}
h1 {
  font-family: "Oswald";
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(0,0,0,0.75);
  margin-top: 0;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}
.button-2 {
  background-color: #fff;
  border: solid 1px rgba(0,0,0,0.14);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 9px 7px 11px rgba(0,0,0,0.3);
  box-shadow: inset 9px 7px 11px rgba(0,0,0,0.3);
  color: #000;
  height: 1.5625rem;
  padding: 0.2rem 0.7rem;
  text-transform: capitalize;
  width: 7.5625rem;
}
body {
  font-family: "Oswald";
}
.borde-superior {
  background-color: #f00;
  height: 1.5rem;
}
header {
  background-color: #000;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
header .formulario input[type="text"] {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
  box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
  height: 2.9375rem;
  width: 12.875rem;
}
header .formulario button {
  background-color: #f00;
  border: none;
  color: #fff;
  height: 3.25rem;
  width: 7.1875rem;
}
header .menu-principal {
  padding-top: 0.7rem;
}
header .menu-principal li {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.5rem;
}
header .menu-principal li a {
  background-color: #464646;
  color: #fff;
  display: block;
  padding: 0.3rem;
}
header .menu-principal li:last-child {
  margin-right: 0;
  position: relative;
}
header .menu-principal li:last-child a {
  background-color: transparent;
  position: absolute;
  z-index: 100;
}
.principal.home {
  background-image: url("../img/bgnd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.proximamente {
  padding-top: 3rem;
  padding-bottom: 6rem;
  text-align: center;
}
.proximamente h4 {
  text-align: center;
  color: #fff;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  letter-spacing: 2px;
  background-color: rgba(255,45,0,0.7);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 26px;
}
.estrenos {
  background-color: rgba(255,45,0,0.7);
  position: relative;
}
.estrenos h3 {
  color: #fff;
  font-family: "Impact";
  font-size: 1.9375rem;
  left: -97px;
  position: absolute;
  text-shadow: 4px 3px 7px rgba(0,0,0,0.75);
  text-transform: uppercase;
  top: 45%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 18.75rem;
}
.peliculas {
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
}
.peliculas .pelicula {
  margin-bottom: 2rem;
}
.peliculas .pelicula .overlay {
  width: 86.5%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  line-height: 12;
  text-align: center;
}
.peliculas .pelicula .overlay a {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}
.peliculas .pelicula .overlay a:before {
  content: "\f144";
  font-family: "fontawesome";
  font-size: 1.5rem;
  padding-right: 0.3rem;
}
.peliculas .pelicula figure {
  position: relative;
}
.peliculas .pelicula figure img {
  max-width: 100%;
  height: auto;
}
.peliculas .pelicula figure:hover .overlay {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.peliculas .pelicula h2 {
  font-family: "Oswald";
  font-size: 1.3125rem;
  color: #ffea00;
  text-transform: uppercase;
}
.peliculas .pelicula .content {
  font-family: "Oswald";
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #fff;
}
.peliculas .pelicula:last-child {
  margin-bottom: 0;
}
.modal-content {
  background-color: #444;
}
.modal-header {
  border-bottom: 0;
}
.pelicula-left .pelicula {
  background-color: rgba(0,0,0,0.7);
  margin-top: 4rem;
}
.pelicula-left .pelicula .left,
.pelicula-left .pelicula .right {
  display: inline-block;
  vertical-align: top;
}
.pelicula-left .pelicula .left {
  max-width: 12.5rem;
}
.pelicula-left .pelicula .right {
  max-width: 60%;
  margin-left: 1rem;
}
.pelicula-left .pelicula .right .content {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
}
.pelicula-left .pelicula .right .calificar {
  text-align: center;
  color: #fff;
}
.pelicula-left .pelicula .overlay {
  background-color: rgba(0,0,0,0.75);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 12;
  text-align: center;
}
.pelicula-left .pelicula .overlay a {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}
.pelicula-left .pelicula .overlay a:before {
  content: "\f144";
  font-family: "fontawesome";
  font-size: 1.5rem;
  padding-right: 0.3rem;
}
.pelicula-left .pelicula figure {
  position: relative;
}
.pelicula-left .pelicula figure img {
  max-width: 100%;
  height: auto;
}
.pelicula-left .pelicula figure:hover .overlay {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.pelicula-left .trailer {
  margin-bottom: 4rem;
}
.pelicula-right {
  padding-top: 4rem;
}
.pelicula-right #cines {
  background-color: transparent;
  background-image: none;
  border: 0;
}
.pelicula-right #cines ul {
  background-color: transparent;
  border: 0;
  background-image: none;
}
.pelicula-right #cines ul li {
  background-color: transparent;
  background-image: none;
  border: 0;
  max-width: 75px;
  margin-right: 0;
}
.pelicula-right #cines ul li a {
  padding: 0;
}
.pelicula-right #cines ul li a img {
  max-width: 100%;
  height: auto;
}
.pelicula-right #cines .accordion h3 {
  font-family: "Oswald";
  font-size: 1.5rem;
  background-image: none;
  background: #eaeaea;
  border: 0;
  padding: 0.5rem;
}
.pelicula-right #cines .accordion h3 * {
  vertical-align: middle;
}
.pelicula-right #cines .accordion h3 .ui-icon {
  display: none;
}
.pelicula-right #cines .ui-tabs-panel {
  padding-left: 0;
  padding-right: 0;
}
.pelicula-right #cines .content-cine {
  background-image: none;
  background: #fff;
  font-family: "Oswald";
  text-align: left;
  border: 0;
}
.principal {
  background-image: url("../img/cartelera-background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.prefooter-cines {
  background-color: rgba(0,0,0,0.75);
  padding-top: 5rem;
}
.menu-cines {
  position: relative;
  bottom: -2.25rem;
  background-image: url("../img/reflejo.png");
  background-repeat: no-repeat;
  background-position: left 9rem;
  padding-bottom: 2rem;
}
.menu-cines li {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
}
.menu-cines li:last-child {
  margin-right: 0;
}
.menu-cines li a {
  display: block;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.menu-cines li a:hover {
  -webkit-box-shadow: 0 0 15px #fff;
  box-shadow: 0 0 15px #fff;
}
.slider {
  max-width: 90.125rem;
  margin-left: auto;
  margin-right: auto;
}
.dropup button,
.dropup .dropdown-menu {
  width: 100%;
}
.principal.en-cartelera .container > .row {
  margin-bottom: 2rem;
}
.cartelera-page .principal {
  background-image: url("../img/cartelera-background.png");
}
.seleccion-cartelera .dropdown button {
  width: 100%;
}
.starrr {
  font-size: 2rem;
  color: #ffea00;
}
.cartelera {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cartelera > .row {
  margin-bottom: 2rem;
}
.cartelera .info {
  text-align: center;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.cartelera .info p {
  color: #fff;
}
.cartelera .info p a {
  color: #ffea00;
  text-transform: capitalize;
  font-size: 18px;
}
.movie-container .left,
.movie-container .right {
  display: inline-block;
  vertical-align: top;
}
.movie-container .left {
  position: relative;
}
.movie-container .left .overlay {
  background-color: rgba(0,0,0,0.75);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 12;
  text-align: center;
}
.movie-container .left .overlay a {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}
.movie-container .left .overlay a:before {
  content: "\f144";
  font-family: "fontawesome";
  font-size: 1.5rem;
  padding-right: 0.3rem;
}
.movie-container .left .overlay:hover.overlay {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.movie-container .horarios {
  max-width: 40%;
}
.movie-container .horarios .row {
  margin-bottom: 0.5rem;
}
.movie-container .horarios .formato span {
  font-family: "Oswald";
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}
.movie-container .horarios .horarios span {
  font-family: "Oswald";
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.3rem;
  color: #000;
  margin-bottom: 0.2rem;
  display: inline-block;
}
.principal.premios {
  background-image: url("../img/premios-bgnd.png");
}
.principal.premios .container {
  padding: 16rem 0;
}
.principal.premios .container .menu-premios li {
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
}
.principal.premios .container .menu-premios li:first-child {
  margin-right: 1rem;
}
.principal.premios .modal img {
  max-width: 100%;
  height: auto;
}
.modal-header .close {
  font-family: "Arial";
}
.prox .container {
  position: relative;
}
.filtro {
  position: absolute;
  left: 0;
  top: -5.7rem;
}
.filtro .dropdown .genero,
.filtro .dropdown button {
  display: inline-block;
  vertical-align: top;
  vertical-align: middle;
}
.filtro .dropdown .genero {
  color: #fff;
  margin-right: 0.5rem;
}
.proximos-estrenos .botones {
  max-width: 12.9375rem;
}
.proximos-estrenos .botones .wrapper {
  zoom: 1;
}
.proximos-estrenos .botones .wrapper:before,
.proximos-estrenos .botones .wrapper:after {
  content: "";
  display: table;
}
.proximos-estrenos .botones .wrapper:after {
  clear: both;
}
.proximos-estrenos .botones a {
  display: inline-block;
  color: #000;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
.proximos-estrenos .pelicula-btn {
  display: inline-block;
  vertical-align: top;
  float: left;
  width: 50%;
}
.proximos-estrenos .pelicula-btn:last-child a {
  background-color: #cbcbcb;
}
.principal.prox .container > .row {
  margin-bottom: 2rem;
}
.modal-body h2 {
  font-weight: 400;
}
.modal-body p {
  color: #fff;
  letter-spacing: 1px;
}
footer {
  background-color: #f00;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer .container {
  position: relative;
}
footer .social li {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
  vertical-align: middle;
}
footer .social li:first-child {
  color: #fff;
}
footer .social li:last-child {
  margin-right: 0;
}
footer .footer-menu li {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}
footer .footer-menu li a {
  color: #fff;
}
footer .footer-menu li:last-child {
  margin-left: 0.8rem;
}
footer .tickets {
  position: absolute;
  right: 0;
  top: -193px;
  max-width: 200px;
}
