@font-face {
  font-family: icomoon;
  font-weight: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');
}

@font-face {
  font-family: OSansBold;
  font-weight: normal;
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans-bold-webfont.woff") format('woff'),url("../fonts/opensans-bold-webfont.ttf") format('truetype'),url("../fonts/opensans-bold-webfont.svg#opensans-bold-webfont") format('svg');
}

@font-face {
  font-family: OSansLight;
  font-weight: normal;
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans-light-webfont.woff") format('woff'),url("../fonts/opensans-light-webfont.ttf") format('truetype'),url("../fonts/opensans-light-webfont.svg#opensans-light-webfont") format('svg');
}

@font-face {
  font-family: OSansReg;
  font-weight: normal;
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans-regular-webfont.woff") format('woff'),url("../fonts/opensans-regular-webfont.ttf") format('truetype'),url("../fonts/opensans-regular-webfont.svg#opensans-regular-webfont") format('svg');
}

@font-face {
  font-family: RobotoBold;
  font-weight: normal;
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/roboto-bold-webfont.woff") format('woff'),url("../fonts/roboto-bold-webfont.ttf") format('truetype'),url("../fonts/roboto-bold-webfont.svg#roboto-bold-webfont") format('svg');
}

@font-face {
  font-family: RobotoMedium;
  font-weight: normal;
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/roboto-medium-webfont.woff") format('woff'),url("../fonts/roboto-medium-webfont.ttf") format('truetype'),url("../fonts/roboto-medium-webfont.svg#roboto-medium-webfont") format('svg');
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
figure,
footer,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

#navs {
  position: absolute;
  left: 4px;
  bottom: 4px;
  line-height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: all .6s;
}

#navs > li {
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: .6s;
}

#navs:after {
  content: attr(data-close);
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

#navs a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-size: .8em;
}

#navs>li,
#navs:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #4ecdc4;
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
figure,
footer,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.button-2 {
  background-color: #fff;
  border: solid 1px rgba(0,0,0,0.14);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 9px 7px 11px rgba(0,0,0,0.3);
  box-shadow: inset 9px 7px 11px rgba(0,0,0,0.3);
  color: #000;
  height: 1.5625rem;
  padding: .2rem .7rem;
  text-transform: capitalize;
  width: 7.5625rem;
}

.borde-superior {
  background-color: #f00;
  height: 1.5rem;
}

header {
  background-color: #000;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header .formulario input[type="text"] {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
  box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
  height: 2.9375rem;
  width: 12.875rem;
}

header .formulario button {
  background-color: #f00;
  border: none;
  color: #fff;
  height: 3.25rem;
  width: 7.1875rem;
}

header .menu-principal {
  padding-top: .7rem;
}

header .menu-principal li {
  display: inline-block;
  vertical-align: top;
  margin-right: .5rem;
}

header .menu-principal li a {
  background-color: #464646;
  color: #fff;
  display: block;
  padding: .3rem;
}

header .menu-principal li:last-child {
  margin-right: 0;
  position: relative;
}

header .menu-principal li:last-child a {
  background-color: transparent;
  position: absolute;
}

.principal {
  background-image: url("/img/bgnd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.estrenos {
  background-color: rgba(255,45,0,0.7);
  position: relative;
}

.estrenos h3 {
  color: #fff;
  font-family: "Impact";
  font-size: 1.9375rem;
  left: -97px;
  position: absolute;
  text-shadow: 4px 3px 7px rgba(0,0,0,0.75);
  text-transform: uppercase;
  top: 45%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 18.75rem;
}

.peliculas {
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.peliculas .pelicula {
  margin-bottom: 1rem;
}

.peliculas .pelicula h2 {
  font-family: "DINCOND";
  font-size: 1.3125rem;
  color: #ffea00;
  text-transform: uppercase;
}

.peliculas .pelicula .content {
  font-family: "DINCOND";
  font-size: 1.5625rem;
  color: #fff;
}

.peliculas .pelicula:last-child {
  margin-bottom: 0;
}

footer {
  background-color: #f00;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

footer .container {
  position: relative;
}

footer .footer-menu li {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}

footer .footer-menu li a {
  color: #fff;
}

footer .footer-menu li:last-child {
  margin-left: .8rem;
}

footer .tickets {
  position: absolute;
  right: 0;
  top: -269px;
}
