@font-face {
  font-family: icomoon;
  font-weight: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');
}

@font-face {
  font-family: OSansBold;
  font-weight: normal;
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans-bold-webfont.woff") format('woff'),url("../fonts/opensans-bold-webfont.ttf") format('truetype'),url("../fonts/opensans-bold-webfont.svg#opensans-bold-webfont") format('svg');
}

@font-face {
  font-family: OSansLight;
  font-weight: normal;
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans-light-webfont.woff") format('woff'),url("../fonts/opensans-light-webfont.ttf") format('truetype'),url("../fonts/opensans-light-webfont.svg#opensans-light-webfont") format('svg');
}

@font-face {
  font-family: OSansReg;
  font-weight: normal;
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans-regular-webfont.woff") format('woff'),url("../fonts/opensans-regular-webfont.ttf") format('truetype'),url("../fonts/opensans-regular-webfont.svg#opensans-regular-webfont") format('svg');
}

@font-face {
  font-family: RobotoBold;
  font-weight: normal;
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/roboto-bold-webfont.woff") format('woff'),url("../fonts/roboto-bold-webfont.ttf") format('truetype'),url("../fonts/roboto-bold-webfont.svg#roboto-bold-webfont") format('svg');
}

@font-face {
  font-family: RobotoMedium;
  font-weight: normal;
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/roboto-medium-webfont.woff") format('woff'),url("../fonts/roboto-medium-webfont.ttf") format('truetype'),url("../fonts/roboto-medium-webfont.svg#roboto-medium-webfont") format('svg');
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
figure,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
figure,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.borde-superior {
  background-color: #f00;
  height: 1.5rem;
}

header {
  background-color: #000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header .formulario input[type="text"] {
  width: 12.875rem;
  height: 2.9375rem;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
  box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
}

header .formulario button {
  width: 7.1875rem;
  height: 3.25rem;
  background-color: #f00;
  border: none;
  color: #fff;
}

header .menu-principal {
  padding-top: .7rem;
}

header .menu-principal li {
  display: inline-block;
  vertical-align: top;
  margin-right: .5rem;
}

header .menu-principal li a {
  background-color: #464646;
  color: #fff;
  display: block;
  padding: .3rem;
}

header .menu-principal li:last-child {
  margin-right: 0;
  position: relative;
}

header .menu-principal li:last-child a {
  background-color: transparent;
  position: absolute;
}

.estrenos {
  background-color: rgba(255,45,0,0.7);
}

.estrenos h3 {
  font-family: "Impact";
  font-size: 1.9375rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 4px 3px 7px rgba(0,0,0,0.75);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.peliculas {
  background-color: rgba(0,0,0,0.7);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.peliculas .pelicula {
  margin-bottom: 1rem;
}

.peliculas .pelicula:last-child {
  margin-bottom: 0;
}
