@font-face {
  font-family: icomoon;
  font-weight: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');
}

@font-face {
  font-family: DINBOLD;
  font-weight: normal;
  src: url("../fonts/dinbold-webfont.eot");
  src: url("../fonts/dinbold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/dinbold-webfont.woff") format('woff'),url("../fonts/dinbold-webfont.ttf") format('truetype'),url("../fonts/dinbold-webfont.svg#dinbold-webfont") format('svg');
}

@font-face {
  font-family: DINREGULAR;
  font-weight: normal;
  src: url("../fonts/pt_din_condensed_cyrillic-webfont.eot");
  src: url("../fonts/pt_din_condensed_cyrillic-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/pt_din_condensed_cyrillic-webfont.woff") format('woff'),url("../fonts/pt_din_condensed_cyrillic-webfont.ttf") format('truetype'),url("../fonts/pt_din_condensed_cyrillic-webfont.svg#pt_din_condensed_cyrillic-webfont") format('svg');
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
figure,
footer,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

#navs {
  left: 4px;
  bottom: 4px;
  width: 278px;
  height: 254px;
  line-height: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: all .6s;
  background-image: url("../img/tickets.png");
}

#navs > li {
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: .6s;
  opacity: 0;
}

#navs a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-size: .8em;
}

#navs>li,
#navs:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 82px;
  height: 81px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
figure,
footer,
header,
nav,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h2 {
  font-family: "DINBOLD";
  font-size: 2.25rem;
  color: #ffea00;
  text-transform: capitalize;
}

.button-2 {
  background-color: #fff;
  border: solid 1px rgba(0,0,0,0.14);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 9px 7px 11px rgba(0,0,0,0.3);
  box-shadow: inset 9px 7px 11px rgba(0,0,0,0.3);
  color: #000;
  height: 1.5625rem;
  padding: .2rem .7rem;
  text-transform: capitalize;
  width: 7.5625rem;
}

body {
  font-family: "DINREGULAR";
}

.borde-superior {
  background-color: #f00;
  height: 1.5rem;
}

header {
  background-color: #000;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header .formulario input[type="text"] {
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
  box-shadow: inset 3px 2px 1px rgba(0,0,0,0.3);
  height: 2.9375rem;
  width: 12.875rem;
}

header .formulario button {
  background-color: #f00;
  border: none;
  color: #fff;
  height: 3.25rem;
  width: 7.1875rem;
}

header .menu-principal {
  padding-top: .7rem;
}

header .menu-principal li {
  display: inline-block;
  vertical-align: top;
  margin-right: .5rem;
}

header .menu-principal li a {
  background-color: #464646;
  color: #fff;
  display: block;
  padding: .3rem;
}

header .menu-principal li:last-child {
  margin-right: 0;
  position: relative;
}

header .menu-principal li:last-child a {
  background-color: transparent;
  position: absolute;
  z-index: 100;
}

.estrenos {
  background-color: rgba(255,45,0,0.7);
  position: relative;
}

.estrenos h3 {
  color: #fff;
  font-family: "Impact";
  font-size: 1.9375rem;
  left: -97px;
  position: absolute;
  text-shadow: 4px 3px 7px rgba(0,0,0,0.75);
  text-transform: uppercase;
  top: 45%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 18.75rem;
}

.peliculas {
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.peliculas .pelicula {
  margin-bottom: 1rem;
}

.peliculas .pelicula .overlay {
  width: 86.5%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  line-height: 12;
  text-align: center;
}

.peliculas .pelicula .overlay a {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.peliculas .pelicula .overlay a:before {
  content: "\f144";
  font-family: "fontawesome";
  font-size: 1.5rem;
  padding-right: .3rem;
}

.peliculas .pelicula figure {
  position: relative;
}

.peliculas .pelicula figure img {
  max-width: 100%;
  height: auto;
}

.peliculas .pelicula figure:hover .overlay {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

.peliculas .pelicula h2 {
  font-family: "DINBOLD";
  font-size: 1.3125rem;
  color: #ffea00;
  text-transform: uppercase;
}

.peliculas .pelicula .content {
  font-family: "DINREGULAR";
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: #fff;
}

.peliculas .pelicula:last-child {
  margin-bottom: 0;
}

.modal-content {
  background-color: #444;
}

.modal-header {
  border-bottom: 0;
}

.principal {
  background-image: url("/img/cartelera-background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

footer {
  background-color: #f00;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

footer .container {
  position: relative;
}

footer .social li {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
  vertical-align: middle;
}

footer .social li:first-child {
  color: #fff;
}

footer .social li:last-child {
  margin-right: 0;
}

footer .footer-menu li {
  color: #fff;
  display: inline-block;
  vertical-align: top;
}

footer .footer-menu li a {
  color: #fff;
}

footer .footer-menu li:last-child {
  margin-left: .8rem;
}

footer .tickets {
  position: absolute;
  right: 0;
  top: -269px;
}
