#navs
    position absolute
    left 4px
    bottom 4px
    /*width 40px
    height 40px*/
    line-height 40px
    list-style-type none
    margin 0
    padding 0
    text-align center
    color #fff
    cursor pointer
    opacity 0
    transition all .6s
    & > li
        transition all .6s
        -webkit-transition all .6s
        -moz-transition .6s
    &:after
        content attr(data-close)
        z-index 1
        border-radius 50%
        -webkit-border-radius 50%
    &.active
        opacity 1
        &:after
            content attr(data-open)
    a
        width 40px
        height 40px
        display inline-block
        border-radius 50%
        -webkit-border-radius 50%
        text-decoration none
        color #fff
        font-size 0.8em

#navs>li,
#navs:after
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    border-radius 50%
    -webkit-border-radius 50%
    background-color #4ECDC4