#navs
    left 4px
    bottom 4px
    width 200px
    height 200px
    line-height 40px
    list-style-type none
    margin 0
    padding 0
    text-align center
    color #fff
    cursor pointer
    opacity 1
    transition all .6s
    background-image url("../img/tickets.png")
    background-size contain
    background-repeat no-repeat
    & > li
        transition all .6s
        -webkit-transition all .6s
        -moz-transition .6s
        opacity 0
    &.active
        > li
            opacity 1
    a
        //width 40px
        //height 40px
        display inline-block
        border-radius 50%
        -webkit-border-radius 50%
        text-decoration none
        color #fff
        font-size 0.8em

#navs>li,
#navs:after
    position absolute
    left 0
    top 0
    width 82px
    height 81px
    border-radius 50%
    -webkit-border-radius 50%
    //background-color #4ECDC4
.prox-movies
    left 4px
    bottom 4px
    width 278px
    height 254px
    line-height 40px
    list-style-type none
    margin 0
    padding 0
    text-align center
    color #fff
    cursor pointer
    opacity 1
    transition all .6s
    position relative
    li
        position absolute
        z-index 100
        transition all .6s ease
        width 120px
        img
            width 100%
        &:hover
            z-index 999
        &:nth-of-type(2)
            left 34%
            top 10%
        &:last-of-type
            left 65%
            top 29%