/*####################################
#
#	Autor: Hector Sevilla
#	Descripcion: Stylus para Aplicacion Cine Claro
#	Fecha: 07/09/2015
#	Hora: 20:00
#
#	1- Cabecera
#	2- Menu
#	3- Slider
#	4- Seccion Principal
#	5- Reviews
#	6- mapa
#	7- Redes Sociales
#	8- Footer
#	9- Mediaquery
#####################################*/

@import 'fonts.styl'
@import 'normalize.styl'
@import 'buble.styl'
@import 'nib'


//Colores
rojo= #ff0000
gris = #464646
amarillo = #ffea00

//OOCSS

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

alinear()
	display inline-block
	vertical-align top
rem(pixel)
	(pixel/16)rem
html
	font-size: 16px
a
	text-decoration none
ul
p
figure
	margin 0
	padding 0
ul
	list-style none
	
.button-2
	background-color: #FFF
	border solid 1px rgba(0,0,0,.14)
	border-radius 6px
	box-shadow: inset 9px 7px 11px rgba(0,0,0,.3)
	color black
	height rem(25)
	padding .2rem .7rem
	text-transform: capitalize
	width rem(121)

.borde-superior
	background-color rojo
	height rem(24)
header
	background-color black
	padding-bottom 1rem
	padding-top 1rem
	.formulario
		input[type="text"]
			border-radius 3px 0 0 3px
			box-shadow inset 3px 2px 1px rgba(0,0,0,.3)
			height rem(47)
			width rem(206)
		button
			background-color rojo
			border none
			color white
			height rem(52)
			width rem(115)
	.menu-principal
		padding-top .7rem
		li
			alinear()
			margin-right .5rem
			a
				background-color gris
				color white
				display block
				padding .3rem
			&:last-child
				margin-right 0
				position relative
				a
					background-color transparent
					position absolute

//Seccion Principal INICIO
.principal
	background-image: url('/img/bgnd.jpg')
	background-size: cover
.estrenos
	background-color: rgba(255,45,0,.7)
	position relative
	h3
		color white
		font-family "Impact"
		font-size rem(31)
		left -97px
		position absolute
		text-shadow: 4px 3px 7px rgba(0,0,0,.75)
		text-transform: uppercase
		top 45%
		transform rotate(-90deg)
		width rem(300)
.peliculas
	background-color: rgba(0,0,0,.7)
	padding-bottom: 1.5rem
	padding-top: 1.5rem
	.pelicula
		margin-bottom 1rem
		h2
			font-family "DINCOND"
			font-size rem(21)
			color amarillo
			text-transform: uppercase
		.content
			font-family "DINCOND"
			font-size: rem(25)
			color white
		&:last-child
			margin-bottom 0

// Seccion Principal FIN

// Footer INICIO
footer
	background-color: rojo
	padding-top 1.3rem
	padding-bottom: 1.3rem
	.container
		position relative
	.footer-menu
		li
			color white
			alinear()
			a
				color white
			&:last-child
				margin-left .8rem
	.tickets
		position absolute
		right 0
		top -269px
// FOOTER FIN