/*####################################
#
#	Autor: Hector Sevilla
#	Descripcion: Hoja de estilos para 
#				 la plantilla web de 
				 Preselección
#	Fecha: 08/11/2014
#	Hora: 12:00
#
#	1- Cabecera
#	2- Menu
#	3- Slider
#	4- Seccion Principal
#	5- Reviews
#	6- mapa
#	7- Redes Sociales
#	8- Footer
#	9- Mediaquery
#####################################*/

@import 'fonts.styl'
@import 'normalize.styl'
@import 'nib'


//Colores
naranja= #d5662b
gris-bajo = #909194
headers = #4d4d4d
gris0 = #edeeef
gris1 = #e3e5e7
gris2 = #dbdddf
gris3 = #ced0d3
azulFooter = #474b5a

//OOCSS

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-reorder
	&:before
		content: "\e600"

.icon-mapmarker
	&:before 
		content: "\e601"

.icon-facebook-square
	&:before 
		content: "\f082"

.icon-linkedin-square
	&:before 
		content: "\f08c"

.icon-phone
	&:before 
		content: "\f095"

.icon-mail-color
	&:before
		content: "\f0e0"
alinear()
	display inline-block
	vertical-align top
rem(pixel)
	(pixel/16)rem
html
	font-size: 16px
a
	text-decoration none
ul
p
figure
	margin 0
	padding 0
ul
	list-style none
h1
	font-family: RobotoBold
	font-size: rem(30)
	color headers
h2
	font-family: RobotoBold
	font-size: rem(24)
	color headers
h3
	font-family: RobotoBold
	font-size: rem(36)
	color headers
	margin-top: 0
input[type="text"]
input[type="mail"]
	border 1px solid #d0dee7
	box-sizing border-box
	height 30px
	padding-left: .7rem
	width 100%
textarea
	border 1px solid #d0dee7
	box-sizing border-box
	padding-left: .7rem
	width 100%
.boton
	background-color: naranja
	height 40px
	width 170px
	box-sizing: border-box
	padding .5rem 0
	text-align: center
	margin 1.5rem auto
	a
		&:link
		&:visited
			color white
			text-transform: uppercase
			font-size: 14px
body
	font-family: OSansReg
	font-size: 16px
	font-weight: normal
	color headers


/*****************************************
*	1- Cabecera
******************************************/
header
	padding 1rem 0
	figure
		text-align: center
	.derecha
		padding 0 .8rem
		text-align: right
		ul
			margin-top: 1rem
			li
				alinear()
				a
					&:link
					&:visited
						color naranja
						font-size: 1.4rem
		.info
			p
				font-size: .8rem
				span
					color naranja
					vertical-align: middle
				a
					&:link
					&:visited
						color headers
					&:hover
						color naranja
						text-decoration: underline

/*****************************************
*	2- Menu
******************************************/
nav
	background-color: gris-bajo
	padding 0 .3rem
	position relative
	text-align: right
	button
		background-color: transparent
		border 0
		color white
		font-size: 2rem
		padding .4rem
		&:hover
			color naranja
	ul
		background-color: gris-bajo
		display none
		left 0
		opacity .9
		padding .5rem 1rem 0 1rem
		position absolute
		right 0
		text-align: left
		top 2.7rem
		li
			border-bottom 1px solid #ccc
			margin .5rem 0
			padding .5rem 0
			a
				&:link
				&:visited
					color white
					font-size: 14px
					font-weight: bold
					text-transform: uppercase
				&:hover
					color naranja
			&:last-child
				border-bottom 0
			.sub-menu
				position relative
				top 0
				li
					border-bottom 0
					a
						&:link
						&:visited
							transition all ease-out .5s
							font-size: 16px
							font-weight: normal
						&:hover
							padding-left: 1rem
				
/*****************************************
*	3- Slider
******************************************/
.slide
	font-size: 0
	img
		max-width 100%
		height auto
/*****************************************
*	4- Seccion Principal
******************************************/
section
	padding 1rem 1rem 1.5rem 1rem
	p
		font-family: OSansLight
	h1
	h2
		text-align center
	&.tips
		.tip
			figure
				text-align: center
				margin 1.5rem 0
			ul
				margin 1rem 0
				li
					margin .8rem 0
					padding-left: 1.2rem
					position relative
					&:before
						background-color naranja
						border-radius: 50%;
						content ""
						display inline-block
						height 8px
						left 0
						position absolute
						top 7px
						vertical-align: middle
						width 8px
			.naranjita
				background-color: naranja
				height 8px
				margin-bottom: 1rem
				width 100%
	&.seleccion
		.imagen
			background-image: url(../img/marcas-sprite.png)
			background-position: -310px -137px
			background-repeat: no-repeat
			height rem(28)
			margin 3rem auto
			width rem(281)
			&.xconecte
				background-position: -660px -119px
				height rem(63)
				width rem(181)
	&.proveedor
		background-color: #f0f1f2
		.especial
			.texto
				margin 1rem 0
			figure
				text-align: center
				img
					max-width 100%
					height auto
	&.proceso
		background-color: #e3e5e7
		figure
			text-align: center
			img
				max-width 100%
				height auto
	&.compromiso
		background-color: #d8d9db
		.mensaje
			font-size: 18px
			text-align: center
	&.consultoria
		.avanza
			background-image: url(../img/marcas-sprite.png)
			background-repeat: no-repeat
			background-position: -65px -119px
			height rem(64)
			margin 2.5rem auto
			width rem(170)
		article
			padding rem(80) 0
			&.gris
				background-color: #f0f1f2
			p
				font-size: 14px
			.imagen
				background-image: url(../img/icons-sprite.png)
				background-repeat: no-repeat
				background-position: 0 0
				height rem(170)
				margin-bottom: 1rem
				margin-left: auto
				margin-right: auto
				width rem(170)
				&.evaluaciones
					background-position: -170px 0
				&.brain
					background-position: -340px 0
				&.eval
					background-position: -510px 0
				&.coaching
					background-position: -680px 0
				&.talentos
					background-position: -850px 0
				&.clima
					background-position: -1020px 0
				&.outplacement
					background-position: -1190px 0
			p
				span
					font-family: OSansBold
					font-size: 18px
	&.ofertas
	&.eventos
		.oferta
		.evento
			background-color: #f0f1f2
			padding 2rem 0
			border-bottom 14px solid #dddddd
			margin-bottom 2.3rem
			h4
				font-size: 18px
				text-align center
			.borde
				background-color: naranja
				height 8px
				max-width 100%
				margin-bottom 1rem
			.info
				.detalles
					.texto
						margin 1rem 0
					.boton
						margin-left: 0
						
			ul
			.detalle
				font-size: 14px
				max-width 80%
				margin-left: auto
				margin-right: auto
			.detalle
				li
					color naranja
					list-style-type disc
					span
						color headers
		figure
			text-align: center
			img
				max-width 100%
				height auto
	&.candidatos
		padding-left 0
		padding-right: 0
		padding-bottom: 0
		figure
			font-size: 0
			margin 1.5rem auto
			img
				max-width 100%
				height auto
		.texto
			padding-left: 1rem
			padding-right: 1rem
		article
			padding rem(40) 1rem
			h3
				text-align: center
			&.aplicar
				background-color: #e9ebee
				.caja
					figure
						text-align: center
			&.cv
				background-color: #f0f1f2
				.tituloForm
					font-family: RobotoBold
					font-size: rem(18)
					margin-bottom rem(40)
				.wrap
					.datos
					.experiencia
						margin-bottom rem(40)
			label
				display block
				text-transform: capitalize
				margin 10px 0 0 0
	&.uno
		background-color: gris0
		.izquierda
		.derecha
			.imagen
				background-image: url(../img/icons-sprite.png)
				background-position: -1362px 0
				background-repeat: no-repeat
				height rem(168)
				margin 3rem auto
				width rem(168)
			.titulo
				font-family: OSansLight
				font-size: rem(30)
				text-align: center
				margin .8rem 0
			.contenido
				text-align: center
		.derecha
			.imagen
				background-position: -1532px 0
	&.dos
		background-color: gris1
		.calidad
			text-transform: uppercase
			text-align: center
			margin-bottom: 1.5rem
			span
				color naranja
	&.tres
		background-color: gris2
		.portafolio
			font-size: rem(18)
			margin-bottom: 1.2rem
			span
				color naranja
				font-family: RobotoBold
		figure
			font-size: 0
			img
				max-width 100%
				height auto
	&.cuatro
		background-color: gris3
		.alianzas
			margin-bottom: 1.2rem
		.caja
			margin-bottom: 1.5rem
			figure
				text-align: center
			p
				text-align: center
	&.marcas
		background-color: gris0
		ul
			li
				padding 1rem 0
				a
					&:link
					&:visited
						background-image: url(../img/marcas-sprite.png)
						background-repeat: no-repeat
						background-position: 0 0
						display block
						margin 0 auto
					&.vmpre
						background-position: -310px -37px
						height 27px
						width 281px
						&:hover
							background-position: -310px -137px
					&.xconecte
						background-position: -659px -19px
						height 62px
						width 181px
						&:hover
							background-position: -659px -119px
					&.avanza
						background-position: -65px -19px
						height 64px
						width 169px
						&:hover
							background-position: -65px -119px
	&.fundadora
		background-color: #d8d9db
		.cabecera
			border-bottom 2px solid naranja
			margin-bottom: 3rem
			padding-bottom: 3rem
			text-align: center
			.derecha
				.naranjita
					background-color: naranja
					height 8px
					margin-bottom: 4px
				.nombre
					background-color: #f0f0f0
					padding .3rem 0
				.subtitulo
					border-left 10px solid #f0f0f0
					color naranja
					font-family: RobotoMedium
					font-size: 1.1rem
					padding 5px 0
		.skills
			border-bottom 2px solid naranja
			padding-bottom: rem(48)
			ul
				list-style-type disc
				margin-left: rem(28)
				color naranja
				li
					margin 10px 0
					span
						color headers

/*****************************************
*	8- Footer
******************************************/
footer
	background-color: azulFooter
	padding 1.5rem 1rem
	.izquierda
		text-align: center
		margin-bottom: .5rem
		p
			color white
			font-family: OSansLight
			font-size: 14px
		img
			max-width 100%
			height auto
	.derecha
		ul
			li
				margin .6rem auto
				a
					&:link
					&:visited
						display block
						background-image: url(../img/sprite-footer.png)
						background-repeat: no-repeat
						background-position: 0 0
						margin 0 auto
						&.vmpre
							height 12px
							width 131px
							background-position: -1px -11px
						&.xconecte
							height 29px
							width 86px
							background-position: -150px 0
						&.avanza
							background-position: -255px -3px
							height 30px
							width 81px
/*@media screen and (min-width:400px)
	header
		&.small
			background-color: red*/
	
@media screen and (min-width:768px)
	header
		&.medium
			clearfix()
			figure
				float left
			.derecha
				float right
	.seleccion
		&.medium
			p
				max-width rem(537)
				margin-left: auto
				margin-right: auto
				&.contenido
					max-width rem(534)
					text-align: center
	.tips
		&.medium
			.tip
				.cabecera
					clearfix()
					figure
						display inline-block
						padding 0 2.5rem 0 1.5rem
						vertical-align: middle
					h2
						display inline-block
						text-align: left
						vertical-align: middle
				.detalle
					ul
						margin-left: 2rem
	.proveedor
		&.medium
			.especial
				max-width rem(626)
				margin-left: auto
				margin-right: auto
				clearfix()
				.texto
					float left
					font-size: 14px
					margin 0
					max-width rem(279)
					text-align: right
				figure
					float right
	.proceso
		&.medium
			padding-top 2rem
			padding-bottom: 2rem
	.compromiso
		&.medium
			.mensaje
				max-width rem(403)
				margin-left: auto
				margin-right: auto
			.texto
				max-width rem(583)
				margin-left: auto
				margin-right: auto
	.consultoria
		&.medium
			padding-left 0
			padding-right 0 !important
			.texto
				font-size: 14px
				margin-left: auto
				margin-right: auto
				max-width rem(542)
			article
				clearfix()
				padding-left: 1rem
				padding-right: 1rem
				.imagen
					display inline-block
					margin-right: 2rem
					vertical-align: middle
				.especial
					display inline-block
					max-width rem(520)
					vertical-align: middle
	.ofertas
	.eventos
		&.medium
			.oferta
			.evento
				h4
					max-width 80%
					margin-left: auto
					margin-right: auto
					text-align: left
				.borde
					max-width 50%
				.info
					clearfix()
					max-width rem(734)
					margin-left: auto
					margin-right: auto
					figure
						float left
					.detalles
						float right
						max-width rem(520)
						font-size: 14px
				
			.paginador
				clearfix()
				.izquierda
					float left
				.derecha
					float right
	.candidatos
		&.medium
			.cv
				.wrap
					max-width rem(700)
					margin-left: auto
					margin-right: auto
					.datos
					.experiencia
					.educacion
						.izquierda
						.derecha
							> div
								clearfix()
								margin-bottom: .7rem
								label
									float left
								input
								textarea
									float right
									max-width 55%
			.formularioActualizacion
				.wrap
					max-width rem(700)
					margin-left: auto
					margin-right: auto
					.izquierda
					.derecha
						> div
							clearfix()
							margin-bottom: .7rem
							label
								float left
							input
							textarea
								float right
								max-width 55%
	
	.tres
		&.medium
			figure
				text-align: center
	.cuatro
		&.medium
			.caja
				clearfix()
				max-width rem(600)
				margin-left: auto
				margin-right: auto
				figure
				p
					float left
				figure
					margin-right: 18px
					width rem(108)
				p
					max-width rem(464)
					text-align: left
	.marcas
		&.medium
			ul
				text-align: center
				li
					display inline-block
					vertical-align: middle
					&:first-child
					&:nth-child(2)
						margin-right: 20px
	.fundadora
		&.medium
			padding-top: 2rem
			padding-bottom: 2rem
			.cabecera				
				.especial
					clearfix()
					margin-left: auto
					margin-right: auto
					width rem(630)
					figure
						float left
					.derecha
						float right
						clearfix()
						.naranjita
							height 127px
							float left
							width 10px
							margin-bottom: 0
							margin-right: 4px
						.nombre
							max-width rem(403)
							float left
							h1
								font-size: rem(38)
								margin 8px 0 8px 35px
								text-align: left
						.subtitulo
							font-size: rem(22)
							padding-top: 5px
	footer
		&.medium
			clearfix()
			.izquierda
				float left
				text-align: left
			.derecha
				float right
				ul
					li
						display inline-block
						vertical-align: middle
						&:first-child
						&:nth-child(2)
							margin-right: 1.5rem
						
					
@media screen and (min-width:1000px)
	.wrap
		max-width rem(940)
		margin-left: auto
		margin-right: auto
	nav
		&.large
			text-align center
			width auto
			button
				display none
			ul
				background-color: transparent
				display block !important
				left 0
				opacity 1
				padding 0
				position relative
				top 0
				li
					alinear()
					border-bottom 0
					box-sizing: border-box
					margin 0 2.5rem
					padding 0
					transition all .3s ease-out
					position relative
					a
						&:link
						&:visited
							color white
							display block
							font-family: OSansLight
							font-size: rem(22)
							padding 1rem
							text-transform: capitalize
							font-weight: normal
					&:hover
						background-color: naranja
					.sub-menu
						position absolute
						left -9999px
						top 100%
						right 0
						background-color: #555558
						width 100%
						text-align: center
						li
							margin 0
							padding .5rem 0
							display inline-block
							width 100%
							&:hover
								background-color: #909194
							a
								&:link
								&:visited
									padding-top: .5rem
									padding-bottom: .5rem
					&:hover
						.sub-menu
							left 0
	.slide
		&.large
			background-color: #c1cbe0
	.tips
		&.large
			.tip
				max-width rem(830)
				margin-left: auto
				margin-right: auto
				margin-bottom: 1rem
				.detalle
					max-width rem(635)
					margin-left: auto
					margin-right: auto
	.seleccion
		&.large
			.especial
				clearfix()
				max-width rem(826)
				margin-left: auto
				margin-right: auto
				.izquierda
					float left
					.contenido
						max-width rem(374)
						text-align: left
				.derecha
					float right
					.contenido
						max-width rem(397)
						text-align: left
					.imagen
						margin-top: 2rem
	.consultoria
		&.large
			.wrap
				text-align: center
				.especial
					text-align: left
	.candidatos
		&.large
			.infografia
				text-align: center
			.aplicar
				.caja
					clearfix()
					margin-left: auto
					margin-right: auto
					max-width rem(630)
					figure
						float left
					.derecha
						float right
						max-width rem(500)
						text-align: left
						h2
							text-align: left
			.cv
				.wrap
					max-width rem(940)
					.datos
					.experiencia
					.educacion
						article
							clearfix()
							margin-bottom: 2rem
							padding 0
						.izquierda
							display inline-block
							vertical-align: top
							width 45%
							label
								max-width 35%
								font-size: 14px
						.derecha
							display inline-block
							float right
							vertical-align: top
							width 45%
							label
								max-width 30%
			.actualiza
				background-color: #e3e5e7
			.formularioActualizacion
				background-color: #d8d9db
				.wrap
					max-width rem(940)
					article
						clearfix()
						margin-bottom: 2rem
						padding 0
						.izquierda
							display inline-block
							vertical-align: top
							width 45%
							label
								max-width 35%
								font-size: 14px
						.derecha
							display inline-block
							float right
							vertical-align: top
							width 45%
							label
								max-width 30%
	.uno
		&.large
			.especial
				clearfix()
				max-width rem(667)
				margin-left: auto
				margin-right: auto
			p
				max-width rem(815)
				margin-left: auto
				margin-right: auto
				font-size: 14px
			.izquierda
				float left
				max-width rem(314)
			.derecha
				float right
				max-width rem(314)
	.dos
		&.large
			.texto
				max-width rem(530)
				margin-left: auto
				margin-right: auto
				font-size: 14px
	.tres
		&.large
			.portafolio
				max-width rem(521)
				margin-left: auto
				margin-right: auto
				font-family: OSansReg
	.cuatro
		&.large
			.alianzas
				max-width rem(540)
				margin-left: auto
				margin-right: auto
				font-size: 14px
	.marcas
		&.large
			ul
				li
					&:first-child
					&:nth-child(2)
						margin-right: rem(140)
	.fundadora
		&.large
			.skills
				ul
					max-width rem(630)
					margin-left: auto
					margin-right: auto


	
			
			
