@import 'fonts.styl'
@import 'normalize.styl'
@import 'buble.styl'
@import 'nib'


//Colores
rojo= #ff0000
gris = #464646
amarillo = #ffea00

//OOCSS

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

alinear()
	display inline-block
	vertical-align top
rem(pixel)
	(pixel/16)rem
html
	font-size: 16px
	height 100vh
	
body
	height 100vh
a
	text-decoration none
ul
p
figure
	margin 0
	padding 0
ul
	list-style none
h2
	font-family "Oswald"
	font-size: rem(28)
	color amarillo
	text-transform: capitalize
h1
	font-family "Oswald"
	font-size: rem(40)
	padding-top 2rem
	padding-bottom 2rem
	background-color rgba(0, 0, 0, .75)
	margin-top 0
	text-align center
	color white
	text-transform: capitalize
	font-weight: 700
.button-2
	background-color: #FFF
	border solid 1px rgba(0,0,0,.14)
	border-radius 6px
	box-shadow: inset 9px 7px 11px rgba(0,0,0,.3)
	color black
	height rem(25)
	padding .2rem .7rem
	text-transform: capitalize
	width rem(121)
body
	font-family "Oswald"
.borde-superior
	background-color rojo
	height rem(24)
header
	background-color black
	padding-bottom 1rem
	padding-top 1rem
	.formulario
		input[type="text"]
			border-radius 3px 0 0 3px
			box-shadow inset 3px 2px 1px rgba(0,0,0,.3)
			height rem(47)
			width rem(206)
		button
			background-color rojo
			border none
			color white
			height rem(52)
			width rem(115)
	.menu-principal
		padding-top .7rem
		li
			alinear()
			margin-right .5rem
			a
				background-color gris
				color white
				display block
				padding .3rem
			&:last-child
				margin-right 0
				position relative
				a
					background-color transparent
					position absolute
					z-index: 100

//Seccion Principal INICIO
.principal
	&.home
		background-image: url('../img/bgnd.jpg')
		background-size: cover
.proximamente
	padding-top 3rem
	padding-bottom 6rem
	text-align: center
	h4
		text-align: center
		color white
		display inline-block
		padding .6rem 1.2rem
		letter-spacing 2px
		background-color rgba(255,45,0,.7)
		border-radius 20px
		font-size 26px
.estrenos
	background-color: rgba(255,45,0,.7)
	position relative
	h3
		color white
		font-family "Impact"
		font-size rem(31)
		left -97px
		position absolute
		text-shadow: 4px 3px 7px rgba(0,0,0,.75)
		text-transform: uppercase
		top 45%
		transform rotate(-90deg)
		width rem(300)
.peliculas
	background-color: rgba(0,0,0,.7)
	padding-bottom: 1rem
	padding-top: 1rem
	position relative
	.pelicula
		margin-bottom 2rem
		.overlay
			width 86.5%
			height 100%
			background-color: rgba(0, 0, 0, .75)
			opacity: 0
			transition all .5s ease
			position absolute
			left 15px
			top 0
			bottom 0
			line-height 12
			text-align center
			a
				display block
				height 100%
				color white
				text-decoration none
				&:before
					content "\f144"
					font-family "fontawesome"
					font-size 1.5rem
					padding-right: .3rem
		figure
			position relative
			img
				max-width 100%
				height auto
			&:hover
				.overlay
					opacity 1
		h2
			font-family "Oswald"
			font-size rem(21)
			color amarillo
			text-transform: uppercase
		.content
			font-family "Oswald"
			font-size: rem(18)
			margin-bottom 1rem
			font-weight: 300
			color white
		&:last-child
			margin-bottom 0
.modal-content
	background-color: #444
.modal-header
	border-bottom 0

// Seccion Principal FIN

// DETALLE PELICULA INICIO
.pelicula-left
	.pelicula
		background-color: rgba(0,0,0,.7)
		margin-top 4rem
		.left
		.right
			alinear()
		.left
			max-width rem(200)
		.right
			max-width 60%
			margin-left 1rem
			.content
				font-size: rem(16)
				color white
				margin-bottom 1rem
			.calificar
				text-align: center
				color white
		.overlay
			background-color: rgba(0, 0, 0, .75)
			opacity: 0
			transition all .5s ease
			position absolute
			left 0
			top 0
			right 0
			bottom 0
			line-height 12
			text-align center
			a
				display block
				height 100%
				color white
				text-decoration none
				&:before
					content "\f144"
					font-family "fontawesome"
					font-size 1.5rem
					padding-right: .3rem
		figure
			position relative
			img
				max-width 100%
				height auto
			&:hover
				.overlay
					opacity 1
	.trailer
		margin-bottom 4rem
.pelicula-right
	padding-top 4rem
	#cines
		background-color: transparent
		background-image: none
		border 0
		ul
			background-color: transparent
			border 0
			background-image: none
			li
				background-color: transparent
				background-image: none
				border 0
				max-width 75px
				margin-right 0
				a
					padding 0
					img
						max-width 100%
						height auto
		.accordion
			h3
				font-family: "Oswald"
				font-size: 1.5rem 
				background-image: none
				background #eaeaea
				border 0
				padding .5rem
				*
					vertical-align: middle
				.ui-icon
					display none
		.ui-tabs-panel
			padding-left 0
			padding-right 0
		.content-cine
			background-image none
			background #fff
			font-family: "Oswald"
			text-align: left
			border 0
// DETALLE PELICULA FIN

// CINES INICIO
.principal
	background-image: url("../img/cartelera-background.png")
	background-size: cover
.prefooter-cines
	background-color: rgba(0, 0, 0, .75)
	padding-top 5rem
.menu-cines
	position relative
	bottom -2.25rem
	background-image url("../img/reflejo.png")
	background-repeat no-repeat
	background-position left 9rem
	padding-bottom 2rem
	li
		alinear()
		margin-right 1rem
		&:last-child
			margin-right 0
		a
			display block
			border-radius 10px
			&:hover
				box-shadow 0 0 15px white
.slider
	max-width rem(1442)
	margin-left: auto
	margin-right: auto
.dropup
	button
	.dropdown-menu
		width 100%
// CINES FIN

// CARTELERA INICIO
.principal
	&.en-cartelera
		.container
			> .row
				margin-bottom 2rem
.cartelera-page
	.principal
		background-image: url("../img/cartelera-background.png")
.seleccion-cartelera
	.dropdown
		button
			width 100%
.starrr
	font-size: 2rem
	color amarillo
.cartelera
	margin-top 2rem
	margin-bottom 2rem
	> .row
		margin-bottom 2rem
	.info
		text-align: center
		max-width 20rem
		margin-left: auto
		margin-right: auto
		margin-top: 5rem
		p
			color white
			a
				color amarillo
				text-transform: capitalize
				font-size: 18px
.movie-container
	.left
	.right
		alinear()
	.left
		position relative
		.overlay
			background-color: rgba(0, 0, 0, .75)
			opacity: 0
			transition all .5s ease
			position absolute
			left 0
			top 0
			right 0
			bottom 0
			line-height 12
			text-align center
			a
				display block
				height 100%
				color white
				text-decoration none
				&:before
					content "\f144"
					font-family "fontawesome"
					font-size 1.5rem
					padding-right: .3rem
			&:hover
				&.overlay
					opacity 1
	.horarios
		max-width 40%
		.row
			margin-bottom .5rem
		.formato
			span
				font-family "Oswald"
				text-transform: uppercase
				color white
				font-size: 14px
		.horarios
			span
				font-family "Oswald"
				background-color: #FFF
				border-radius 5px
				font-size 16px
				padding .3rem
				color black
				margin-bottom .2rem
				display inline-block
// CARTELERA FIN

// PREMIOS INICIO
.principal
	&.premios
		background-image: url("../img/premios-bgnd.png")
		.container
			padding 16rem 0
			.menu-premios
				li
					alinear()
					vertical-align middle
					&:first-child
						margin-right 1rem
		.modal
			img
				max-width 100%
				height auto
.modal-header
	.close
		font-family: "Arial"
// PREMIOS FIN

// PROXIMOS ESTRENOS INICIO
.prox
	.container
		position relative
.filtro
	position absolute
	left 0
	top -5.7rem
	.dropdown
		.genero
		button
			alinear()
			vertical-align middle
		.genero
			color white
			margin-right .5rem
.proximos-estrenos
	.botones
		max-width rem(207)
		.wrapper
			clearfix()
		a
			display inline-block
			color black
			background-color white
			text-transform: uppercase
			text-align: center
			width 100%
			padding-top .5rem
			padding-bottom .5rem
			font-size: 1rem
	.pelicula-btn
		alinear()
		float left
		width 50%
		&:last-child
			a
				background-color: #cbcbcb
.principal
	&.prox
		.container
			> .row
				margin-bottom: 2rem
.modal-body
	h2
		font-weight: 400
	p
		color white
		letter-spacing 1px

// PROXIMOS ESTRENOS FIN

// Footer INICIO
footer
	background-color: rojo
	padding-top .9rem
	padding-bottom: .9rem
	position fixed
	bottom 0
	left 0
	right 0
	.container
		position relative
	.social
		li
			alinear()
			margin-right 1rem
			vertical-align: middle
			&:first-child
				color white
			&:last-child
				margin-right 0
	.footer-menu
		li
			color white
			alinear()
			a
				color white
			&:last-child
				margin-left .8rem
	.tickets
		position absolute
		right 0
		top -193px
		max-width 200px
// FOOTER FIN